---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { getCollection, getEntry } from "astro:content";

const posts = await getCollection("posts", ({ data }) => data.canonicalURL);

const author = await getEntry("team", posts[0]!.data.author.id);
---

<BaseLayout title="Home">
  <h1>Posts here</h1>
  <h3>Mine authror: {author?.data.name}</h3>
  <ul>
    {
      posts.map((post) => (
        <li>
          <p>
            {post.data.title}. {post.data.canonicalURL}
          </p>
          <img src={post.data.cover.src} alt={post.data.coverAlt} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
